################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test1/.vs/Test1.slnx/FileContentIndex/134ece5c-b390-4907-8cad-0d0233c2bc0e.vsidx
