################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test1/.vs
/Vaja3/.vs/Vaja3.slnx
